.conteiner7 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 300px;
}

.sign__input-name {
  padding: 20px 100px;
  margin-top: 60px;
}

.sign__input-email {
  padding: 20px 100px;
}
.sign__buttons{
  width: 100%;
  display: flex;
  justify-content: space-between;
}