.operator {
  background: linear-gradient(106.35deg, #002046 0%, #033e84 98.04%);
}
.operator_btn {
  margin-top: 200px;
}
.operator_img {
  width: 400px;
  height: 280px;
  background: url("./Rectangle 14.png");
  border-radius: 8px;
  margin: 0px 0px 20px 0px;
}
.markirovkaAbout_info-btn {
  margin-top: 20px;
}
.markirovkaAbout_info-btn a {
  color: rebeccapurple;
}
.markirovkaAbout_info-btn .markirovkaAbout_btn {
  color: #fff;
}
.carousel-item {
  margin-top: 20px;
}
.operator_warning {
  font-size: 15px;
  margin: 10px 0px 10px 0px;
}
