.tekstil_about{
    margin-top: 10px;
}
.tekstil_about_wrapper{
    width: 1200px;
    margin: 0 auto 0 auto ;
    display: flex;
    justify-content: space-between;
}
.tekstil_about_title{
    font-size: 24px;
    font-weight: 900;
    line-height: 44px;
    letter-spacing: 0.08em;
    margin-bottom: 15px;
}
.tekstil_about_stick{
    background-color: #0082FA;
    border: 1px solid #0082FA;
    width: 115px;
    margin: 0px 0px 20px 0px ;
}
.tekstil_about_desc{
    max-width: 480px;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    color: #5A5A5A;
}
.tekstil_about_image{
    border-radius: 22px;
}
.tekstil_about_image img{
    border-radius: 22px;
}



@media(max-width:1380px){
    .tekstil_about_wrapper{
        max-width:100%;
         padding: 0 50px; 
    }
}
@media(max-width:900px){
    .tekstil_about_wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .tekstil_about_image{
        position: relative;
        width: 100%;
       
    }
    .tekstil_about_image img{
        max-width: 100%;
        display: block;    }
        .tekstil_about_info .about_btn{
            padding: 7px;
            margin: 0px 0px 20px 0px ;
        }
}
@media(max-width:768px){
    .tekstil_about_wrapper{
        max-width:100%;
         padding: 0 15px; 
    }}